.navbar {
  background-color: aliceblue;
  border-bottom: 1px solid black;
}

.navbar-brand img {
  width: 12rem;
}

.btn {
  font-weight: 400;
  margin-right: 15px;
  align-items: center;
  border-radius: 5px;
}
.nav-item {
  font-weight: 500;
  justify-content: center;
  align-items: center;
}
.hero-image img {
  width: 100%;
  height: 80vh;
}

.hero-section {
  background-image: url("/Images/hero-image.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  color: rgb(250, 250, 250);
}
.hero-section h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.5;
}

.search {
  border-style: none;
  font-weight: 500;
  align-items: center;
  margin-top: 20px;
  height: 3.5rem;
  width: 60%;
  border-radius: 5px;
}

/* Emergency Panel Section */
#emrgancy_panel {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  background-color: #f6efee;
  padding-top: 10px;
}

#emrgancy_panel .row {
  justify-content: center; /* Center items horizontally */
}
#emrgancy_panel .text-center a {
  text-decoration: none;

  color: #333;
  font-weight: bold;
  display: block;
}
#emrgancy_panel .text-center a {
  font-size: 1.5rem;
  justify-content: space-around;
}
#emrgancy_panel .text-center i {
  font-size: 1.5rem;
}
#emrgancy_panel .text-center p {
  margin: 0;
  font-size: 1rem;
}
